<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bundle.css" />
  </head>
  <body>
    <header>
      <div>toto není main.njk :)))) (static website generator)</div>
      <nav>
        <ul>
          <li><a href="/">Main</a></li>
          <li><a href="/installation">Installation</a></li>
          <li><a href="/configuration">Configuration</a></li>
          <li><a href="/newpage">newpage</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>&copy; 2024, Dice-Sensei</footer>
  </body>
</html>
